<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PropPHL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFC1D94A1BA6847E002482C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFC1D9611BA6847F002482C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFC1D96C1BA6847F002482C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
